#leads-index {
  width: calc(100vw - 260px);
  margin-left: 15px;
  .leads-header {
    display: flex;
    a.button {
      margin-left: 20px;
      &:hover {
        color: #fff;
      }
    }
  }
  .leads-wrapper {
    margin-top: 30px;
    .leads-filters {
      display: flex;
    }
    .leads {
      display: flex;
      margin-top: 20px;
      overflow-x: auto;
      height: calc(100vh - 300px);
      .lead-status {
        width: 210px;
        margin-right: 40px;
        //flex-shrink: 0;
        padding-bottom: 15px;
        flex-grow: 1;
        .status {
          position: relative;
          .status-name {
            position: relative;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #fff;
            //width: 187px;
            width: auto;
            margin-right: 23px;
          }
          .status-triangle {
            width: 46px;
            height: 46px;
            top: 0;
            right: 9px;
            position: absolute;
            clip: rect(auto, 150px, auto, 32px);
            &::after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              transform: rotate(-45deg);
            }
          }
        }
        .leads-container {
          height: calc( 100% - 46px);
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          padding-right: 5px;
          .lead {
            background-color: #fff;
            padding: 15px;
            border-radius: 15px;
            margin-top: 15px;
            box-shadow: $box-shadow;
            .lead-name {
              display: block;
              font-size: 15px;
              border-bottom: 1px solid $light-gray;
              font-weight: bold;
              color: inherit;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .lead-block {
              margin-top: 5px;
              display: flex;
              align-items: center;
              .block-label {
                &.date {
                  font-size: 17px;
                }
              }
              .block-value {
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 5px;
                font-size: 12px;
                &.priority {
                  border-radius: 15px;
                  padding: 5px 10px;
                  color: #fff;
                  &.low {
                    background-color: $green;
                  }
                  &.medium {
                    background-color: $sky-blue;
                  }
                  &.high {
                    background-color: $pink;
                  }
                }

              }
            }
          }
        }
        &:nth-child(8n+1) .status {
          .status-name {
            background-image: $status-gradient-1;

          }
          .status-triangle::after {
            background-image: $triangle-1;

          }
        }

        &:nth-child(8n+2) .status {
          .status-name {
            background-image: $status-gradient-2;

          }
          .status-triangle::after {
            background-image: $triangle-2;

          }
        }

        &:nth-child(8n+3) .status {
          .status-name {
            background-image: $status-gradient-3;

          }
          .status-triangle::after {
            background-image: $triangle-3;

          }
        }

        &:nth-child(8n+4) .status {
          .status-name {
            background-image: $status-gradient-4;

          }
          .status-triangle::after {
            background-image: $triangle-4;

          }
        }

        &:nth-child(8n+5) .status {
          .status-name {
            background-image: $status-gradient-5;

          }
          .status-triangle::after {
            background-image: $triangle-5;

          }
        }

        &:nth-child(8n+6) .status {
          .status-name {
            background-image: $status-gradient-6;

          }
          .status-triangle::after {
            background-image: $triangle-6;

          }
        }

        &:nth-child(8n+7) .status {
          .status-name {
            background-image: $status-gradient-7;

          }
          .status-triangle::after {
            background-image: $triangle-7;

          }
        }

        &:nth-child(8n+8) .status {
          .status-name {
            background-image: $status-gradient-8;

          }
          .status-triangle::after {
            background-image: $triangle-8;

          }
        }
      }
    }
    ::-webkit-scrollbar-thumb {
      background: $purple;
      border-radius: 10px;
    }
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
  }
}